.places{
	width: 100%;
}
.allART{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.places h1{
	text-align: left;
	vertical-align: top;
	padding-left: 70px;
  	padding-top: 20px;
	font-size: 30px;
}
.places.twoArticles{
	display: flex;

}
.places .twoArticles{
	display: flex;
	justify-content: space-evenly;
}
.places .singleArticle{
	display: flex;
	justify-content: center;
}
.singleArticle article{
	width: 390px;
	padding: 20px;
	margin: 20px;
	border:1px solid  #FF5A5F;
	border-radius: 4px;
	text-align: center;
}
.twoArticles article{
	width: 390px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #FF5A5F;
  border-radius: 4px;
  text-align: center;
}
.twoArticles article h2{
	font-size: 30px;
	text-align: center;
}
.singleArticle article h2{
	font-size: 30px;
	text-align: center;
}